$colors: (
  primary-bg: #1e1e1e,  
  secondary-bg: #292929, 
  primary-text: #ffffff, 
  secondary-text: #d3d3d3, 
  accent: #e74c3c,       
  footer-bg: #000000,    
  point: #f39c12 ,
  card-bg: #ffe7ac,
  card-bbg:#46368b,
  review-bg: #F1EFFD,

)
